.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.brand {
    font-weight: bold;
    font-size: 24px;
    color: #333; /* Brand color */
}

button#connectButton, #getPhantomBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button#connectButton:hover, #getPhantomBtn:hover {
    background-color: #0056b3;
}

button#connectButton, #getPhantomBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

}

button#connectButton:hover, #getPhantomBtn:hover {
    background-color: #0056b3;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* Subtract the navbar height */
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

.content {
    text-align: center;
}

.project-name {
    font-size: 80px;
    color: #333; /* Brand color */
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.subheading {
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: visibility 0s, opacity 0.5s;
}

#popup:not(.hidden) {
    visibility: visible;
    opacity: 1;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.close-btn {
    float: right;
    font-size: 28px;
    cursor: pointer;
    color: #666;
}

.popup-body h2, .popup-body p {
    margin: 20px 0;
}

.phantom-logo {
    height: 24px; /* Adjust the height as needed */
    margin-right: 8px; /* Add some spacing between the logo and text */
    vertical-align: middle; /* Align the logo vertically with the text */
}

#phantomLink {
    display: inline-flex;
    align-items: center;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;  /* white color for text */
    background: linear-gradient(135deg, #ab47bc, #8e288c); /* gradient for background color */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

#phantomLink:hover,
#phantomLink:focus {
    background: linear-gradient(135deg, #9b30ff, #6e13c2); /* adjust the hover color */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

#phantomLink:active {
    background: linear-gradient(135deg, #8728f5, #5a119a); /* adjust the pressed color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
    position: fixed; /* Changed from absolute to fixed */
    bottom: 0;
    left: 0; /* Ensure it aligns to the left edge */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.footer p {
    margin: 0;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .navbar {
        height: auto;
    }

    .main-content {
        min-height: calc(100vh - 60px - 40px); /* Subtract the navbar and footer heights */
    }

    button#connectButton, #getPhantomBtn {
        margin-top: 10px;
    }
}